<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Document</title>
    <style>
      p { margin: 0; padding: 0; }
    </style>
  </head>
  <body>
    <p><b>Dear {{gender}} {{fullName}}</b></p>
    <p>This email is an automated notification from Office Management Application - OWT VN regarding your device assignment and/or usage. The updated details was as follows.</p>
    <p>
        <ul>
            <li><p>Type: <b>{{type}}</b></p></li>
            <li><p>Model: <b>{{model}}</b></p></li>
            <li><p>Serial No.: <b>{{serialNumber}}</b></p></li>
            <li><p>Detail: <b>{{{details}}}</b></p></li>
            <li><p>Updated status: <b>{{status}}</b></p></li>
        </ul>
    </p>
    <p>Please kindly check for more details by logging on your account on Employee App.</p>
    <br />
    <p>Thank you for your time.</p>
  </body>
</html>